<html>
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css")}}"/>
	</head>

	<body>
		<div class="hed"><h2>{{ page_n }}</h2></div>
		
		<div class="cont">
			<table cellspacing="0">
				<!-- шапка -->
				<tr>
					{% for head in head_table %}
						<th>
							{{head}}
						</th>
					{% end %}
				</tr>
				{% for col in data %}
					<tr>
						{% for row in col %}
							<td>
								{{row}}
							</td>
						{%end%}
					</tr>
				{%end%}
			</table>

		</div>
		<div class="back">Назад на <a href="{{reverse_url('home')}}">главную<a></div>
	</body>
</html>